$light-gray: #f1f1f1;
$yalla-secondary: #FBECCF;
$yalla-primary: #112378;

a, .link {
  cursor: pointer;
}

.font-underline {
  text-decoration: underline;
}

.inline-dropdown, .ember-inline-edit {
  display: inline-block;
}

.ember-inline-edit {
  background-color: #f0ad4e;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  padding: .15em .25em !important;
  cursor: pointer !important;
  button { display: none; }
}

.ember-inline-edit-input:focus {
  @extend .ember-inline-edit;
  width: 150px !important;
}

td {
  max-width: 50px;
  box-sizing: border-box !important;
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
}

td, th {
  border: none !important;
}

td.Sunday, th.Sunday {
  border-right: solid 0.1em black !important;
}

th.Sunday, th.Saturday, td.Sunday, td.Saturday {
  background-color: $yalla-secondary;
}

td.Sunday, td.Saturday {
  opacity: 0.5;
}

td.onVacation {
  background-color: $yalla-primary;
  color: $yalla-secondary;
  border: solid 2px white !important;
  cursor: pointer;
}
