Submit new leave request

<br>
<br>
<div class="alert alert-info" role="alert">
  Once you submit, your managers will be notified about your new leave request.
</div>

<form>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="From">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="To">
  </div>
  <div class="form-group">
    <textarea class="form-control" placeholder="Why're you requesting leave?" rows="4"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  {{#link-to 'requests'}}
    <button type="submit" class="btn btn-default">Cancel</button>
  {{/link-to}}
</form>
